{% extends "main.htm" %} {% block head %}
<link rel="stylesheet" href="../static/js/vendor/jquery-ui/themes/start/jquery-ui.css" />
<link rel="stylesheet" href="../static/js/vendor/jquery-ui/themes/start/jquery.ui.theme.css" />
<link rel="stylesheet" href="../static/js/vendor/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.css" />
<link rel="stylesheet" href="../static/css/publish.css" />
<script src="../static/js/vendor/jquery.js"></script>
<script src="../static/js/vendor/jquery-validation/jquery.validate.js"></script>
<script src="../static/js/jquery.validate.ext.js"></script>
<script src="../static/js/vendor/jquery-validation/i18n/messages_zh.js"></script>
<script src="../static/js/vendor/jquery-ui/ui/jquery.ui.core.js"></script>
<script src="../static/js/vendor/jquery-ui/ui/jquery.ui.datepicker.js"></script>
<script src="../static/js/vendor/jquery-ui/ui/i18n/jquery.ui.datepicker-zh-CN.js"></script>
<script src="../static/js/vendor/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js"></script>
<script src="../static/js/vendor/jquery-ui-timepicker-addon/i18n/jquery-ui-timepicker-zh-CN.js"></script>
<script src="../static/js/publish.js"></script>
{% end %} {% block content %}
<div class="publish">
    <div class="info">
        本站免费发布服务器信息，请认真填写下面的表单。<br />
        如需排名服务，请完成表单后联系站长。</div>
    {% if msg is not None and len(msg) > 0 %}
    <ul>
        {% for i in msg %}
        <li>{{ i }}</li>
        {% end %}
    </ul>
    {% end %}
    <form method="post" id="publish">
    <table>
        <tr>
            <td valign="top">
                <span class="name">服务器名：</span>
            </td>
            <td>
                <input type="text" size="30" maxlength="20" id="serverName" name="ServerName" />
                <span class="hint">必填，10个汉字（20个英文、数字）之内</span>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <span class="name">开服时间：</span>
            </td>
            <td>
                <input type="text" size="25" maxlength="20" id="openTime" name="OpenTime" />
                <span class="hint">必填，格式： yyyy-mm-dd hh:mm:ss，如：{{ datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S') }}</span>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <span class="name">特色介绍：</span>
            </td>
            <td>
                <input type="text" size="60" maxlength="50" id="feature" name="Feature" />
                <span class="hint">必填，25个汉字（50个英文、数字）以内</span>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <span class="name">经验倍数：</span>
            </td>
            <td>
                <input type="text" size="20" maxlength="20" id="ratio" name="Ratio" />
                <span class="hint">必填，10个汉字（20个英文、数字）以内，如：5倍，10倍，9999倍</span>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <span class="name">游戏版本：</span>
            </td>
            <td>
                <input type="text" size="20" maxlength="20" id="version" name="Version" />
                <span class="hint">必填，10个汉字（20个英文、数字）以内，如：1.1，2.0</span>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <span class="name">网络线路：</span>
            </td>
            <td>
                <input type="text" size="20" maxlength="15" id="isp" name="Isp" />
                <span class="hint">必填，7个汉字（15个英文、数字）以内，如：上海电信，北京网通</span>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <span class="name">游戏主页：</span>
            </td>
            <td>
                <input type="text" size="40" maxlength="500" id="uri" name="Uri" />
                <span class="hint">必填，如：http://www.google.com</span>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <span class="name">联系方式：</span>
            </td>
            <td>
                <input type="text" size="40" maxlength="20" id="contact" name="Contact" />
                <span class="hint">必填，如QQ，电子邮件，手机号码</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="提交" class="submit" />
            </td>
        </tr>
    </table>
    </form>
</div>
{% end %}